
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>The Book Store</title>
    <link href="~/Yeni/style.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>THE BOOK STORE</h1>
        </div>
        <div id="sideheader"></div>
        <div id="left_column">
            <div class="left_column_boxes">
                <h4>Navigation</h4>
                <div id="navcontainer">
                    <ul id="navlist">
                        <li id="active"><a href="/" id="current">Anasayfa</a></li>
                        <li><a href="/Kitap/Index">Kitap</a></li>
                        <li><a href="/Yazar/Index">Yazar</a></li>
                    </ul>
                </div>
            </div>
            <div class="left_column_boxes">
                <h4>News</h4>
                <dl>
                    <dt class="news">This is a definiton list</dt>
                    <dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed quam.  Nullam gravida aliquet odio. Phasellus ullamcorper tincidunt orci.  Praesent vel purus. Sed porttitor. Proin porttitor suscipit urna. Morbi  rhoncus posuere orci.</dd>
                    <dt class="news">Lists are cool</dt>
                    <dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed quam.  Nullam gravida aliquet odio. Phasellus ullamcorper tincidunt orci.  Praesent vel purus. Sed porttitor. Proin porttitor suscipit urna. Morbi  rhoncus posuere orci.</dd>
                </dl>
            </div>
            <div class="left_column_boxes">
                <h4>Contact us</h4>
                <form id="form1" method="post" class="contact_us" action="#">
                    <p>
                        <label>
                            Name
                            <input type="text" class="fields_contact_us" name="textfield" />
                        </label>
                        <label>
                            E-mail
                            <input type="text" class="fields_contact_us" name="textfield1" />
                        </label>
                        <label>
                            Your question:
                            <textarea name="textarea" cols="" rows=""></textarea>
                        </label>
                        <label>
                            <input type="submit" class="submit_button_contact" name="Submit1" value="Submit" />
                        </label>
                    </p>
                </form>
            </div>
            <p class="center">Created by Dieter Schneider 2007 <a href="http://www.csstemplateheaven.com">www.csstemplateheaven.com</a></p>
        </div>
        <div id="content">
            <h3>Nullam nisl ante</h3>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed quam.  Nullam gravida aliquet odio. Phasellus ullamcorper tincidunt orci.  Praesent vel purus. Sed porttitor. Proin porttitor suscipit urna. Morbi  rhoncus posuere orci. In pulvinar condimentum ligula. Aenean imperdiet  pulvinar urna. Morbi dapibus pede vel velit. Duis a nisl. Proin  consequat. Proin lacus purus, auctor ac, semper in, posuere non, leo.  Nullam nisl ante, pulvinar vel, aliquam ut, pulvinar sit amet, turpis.  Aliquam suscipit dui eu turpis. Nullam tellus. Duis at erat id sem  vestibulum egestas. Aliquam varius nisl vel lectus. Aliquam at purus  ullamcorper massa lobortis placerat. Aliquam eget mauris sodales lectus  vestibulum vulputate. </p>
            <h3>Sed mollis</h3>
            <p>Morbi lorem. Vivamus leo diam, bibendum a, interdum quis, volutpat  at, elit. Integer sit amet est at purus rhoncus facilisis. Cum sociis  natoque penatibus et magnis dis parturient montes, nascetur ridiculus  mus. Aenean eu enim vitae ante ullamcorper faucibus. Etiam elementum  lobortis odio. Donec lacus purus, interdum sit amet, convallis quis,  porta sit amet, elit. Donec ac odio quis ipsum convallis ultrices. Nam  hendrerit tincidunt est. Sed ipsum. Proin rutrum ante eget mi. Morbi id  ante. Integer et risus in nisl iaculis ornare. Sed mollis. Cras nisi  elit, rutrum eget, sagittis ac, semper non, sapien. Lorem ipsum dolor  sit amet, consectetuer adipiscing elit. </p>
            <h3>Aliquam ut  mauris</h3>
            <p>Phasellus mollis. Pellentesque nibh metus, hendrerit ac, porttitor  a, pulvinar vel, turpis. Aliquam mattis auctor lectus. Proin eleifend  varius neque. Maecenas nulla. Pellentesque habitant morbi tristique  senectus et netus et malesuada fames ac turpis egestas. Morbi tellus.  Sed libero enim, tempus faucibus, egestas eu, sodales non, tortor.  Aenean eget nibh dictum dui sollicitudin consectetuer. Aliquam ut  mauris non quam facilisis faucibus. Morbi eu est. Vestibulum enim  lorem, tempus ornare, sodales nec, imperdiet ac, augue. Vestibulum nunc  felis, placerat eu, euismod at, pellentesque ut, lacus. Aliquam tempor  consequat enim. Sed ut dolor. Sed vestibulum metus vitae justo. Nulla  libero. Integer sit amet diam ut orci rutrum euismod. Praesent suscipit  augue in justo. Vestibulum diam. </p>
            <h3>Aenean purus pede</h3>
            <p>Vivamus diam orci, bibendum eu, venenatis a, gravida et, nisl. Donec  felis tortor, rhoncus eu, convallis ac, mattis id, est. Donec commodo,  dui vel eleifend varius, lacus nunc suscipit risus, eget bibendum nunc  velit lobortis sapien. Nam sodales volutpat nibh. Cras et justo.  Praesent pede. In sed eros cursus arcu tristique congue. Nulla iaculis  ante sit amet sapien auctor tincidunt. Aliquam sit amet libero. Aliquam  mauris tellus, gravida nec, nonummy vel, tincidunt hendrerit, mi. Etiam  cursus mi et turpis. Phasellus et mi in dolor feugiat feugiat.  Vestibulum ante ipsum primis in faucibus orci luctus et ultrices  posuere cubilia Curae; Fusce commodo. </p>
            <h3>Vivamus diam orci</h3>
            <p>Aenean purus pede, tempor ut, iaculis ac, tincidunt interdum, urna.  Pellentesque quis mauris. Morbi porttitor blandit nisl. Suspendisse  potenti. Cras sem. Maecenas sit amet eros a augue fringilla posuere. Ut  bibendum ultricies lorem. Donec interdum. In interdum ullamcorper nisl.  Mauris tortor pede, accumsan a, tempus et, fermentum et, lectus. In  congue ligula ut odio. Sed adipiscing pharetra quam. </p>
        </div>
        <div id="footer"></div>
    </div>
</body>
</html>


