@model projem.Models.EntityFramework.yazar
@{
    ViewBag.Title = "Kaydet";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<h2>Yeni Yazar Kaydı</h2>
@using (Html.BeginForm("Kaydet", "Yazar", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.AdSoyad)
        @Html.TextBoxFor(m => m.AdSoyad, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-danger">Kaydet</button>
    @Html.HiddenFor(m => m.ID)
}
